@model IEnumerable<SpeedSystem.Models.PrintSize>

@{
    ViewBag.Title = "PrintSize";
}


<style>
    .bt-gg {
        width: 100%;
    }
</style>


<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper">
    <!-- Search for small screen -->
    <div class="header-search-wrapper grey lighten-2 hide-on-large-only">
        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
    </div>
    <div class="container">
        <div class="row">
            <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title">@ViewBag.Title</h5>
                <ol class="breadcrumbs">
                    <li><a href="#">Configurações Gerais</a></li>
                    <li class="active">@ViewBag.Title</li>

                </ol>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <div id="table-datatables">
            <div class="row">
                <div class="col s12">
<p>
    @Html.ActionLink("Adicionar Novo", "Create", new{}, new{@class="waves-effect waves-light btn-large bt-gg"})
</p>



<table class="reponsive-table display striped highlight" cellpadding="0">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Measure.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SizeX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SizeY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValueSize)
        </th>
        <th>Ação</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Measure.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SizeX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SizeY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValueSize)
        </td>
        <td>
		 <a class="btn-floating #757575 grey darken-1" href="@Url.Action("Edit",  new { id = item.PrintSizeId })"><i class="material-icons">mode_edit</i></a> |
         <a class="btn-floating #1976d2 blue darken-2" href="@Url.Action("Details", new { id = item.PrintSizeId })"><i class="material-icons">remove_red_eye</i></a> |
         <a class="btn-floating #e53935 red darken-1" href="@Url.Action("Delete",  new { id = item.PrintSizeId })"><i class="material-icons">delete</i></a>

        </td>
    </tr>
}

</table>
</div>
</div>
</div>
</div>
</div>
