@model SpeedSystem.Models.Mesh

@{
    ViewBag.Title = "Controle de Malhas";
}





<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper">
    <!-- Search for small screen -->
    <div class="header-search-wrapper grey lighten-2 hide-on-large-only">
        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
    </div>
    <div class="container">
        <div class="row">
            <div class="col s10 m6 l6">
                <h5 class="breadcrumbs-title">@ViewBag.Title</h5>
                <ol class="breadcrumbs">
                    <li><a href="#">Configurações Gerais</a></li>
                    <li class="active">@ViewBag.Title</li>

                </ol>
            </div>

        </div>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="section">
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MeshId)

        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.Name)</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
			
            </div>
        </div>

        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.CustValue)</label>
                <div class="col-md-10">

                    @Html.TextBoxFor(model => model.CustValue, new { @class = "form-control", @placeholder = "somente números", @id = "currency" })
                    @Html.ValidationMessageFor(model => model.CustValue, "", new { @class = "text-danger" })

                </div>
        </div>

        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.Yeild)</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Yeild, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Yeild, "", new { @class = "text-danger" })
			
            </div>
        </div>

        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.Sublimation)</label>
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Sublimation, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Sublimation, "", new { @class = "text-danger" })
			
            </div>
        </div>

        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.MeasureId)</label>
           
            <div class="col-md-10">
			
                @Html.DropDownList("MeasureId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MeasureId, "", new { @class = "text-danger" })
			
            </div>
        </div>

        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.ColorMeshId)</label>
           
            <div class="col-md-10">
			
                @Html.DropDownList("ColorMeshId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ColorMeshId, "", new { @class = "text-danger" })
			
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
			<a class=" waves-effect waves-light  btn #00e676 green accent-3" href="@Url.Action("Index")"> <i class="material-icons left">arrow_back</i>Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
	</div>
	</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
