@model SpeedSystem.Models.Client

@{
    /**/
    ViewBag.Title = "Controle de Clientes";

    var typeperson = Model.LastNameOrFantasyName;
    typeperson = Convert.ToString(Model.TypePerson);

    if (typeperson == "Fisica")
    {
        ViewBag.Name = "Nome";
        ViewBag.LastName = "Sobre Nome";
        ViewBag.cpf = "CPF";
        ViewBag.rg = "RG";
        ViewBag.date = "Data de Nascimento";
        ViewBag.photo = "Foto de Perfil";
    }
    else
    {
        ViewBag.Name = "Nome da Empresa";
        ViewBag.LastName = "Nome Fantasia";
        ViewBag.cpf = "CNPJ";
        ViewBag.rg = "Inscrição Estadual";
        ViewBag.date = "Data de Abertura";
        ViewBag.photo = "Logo Marca";
    }
}



<div class="container">
    <div class="section">
        <div class="row">

            <div class="col s12 center">
                <div class="card-panel">
                    <div id="card-alert" class="card gradient-45deg-amber-amber center">
                        <div class="card-content white-text">
                            <p>
                                <i class="material-icons">warning</i> Você tem certeza que costaria de excluir?
                            </p>
                            <div class="card-content white-text">
                                <p> @Html.ValidationSummary(true, "")</p>
                            </div>
                        </div>
                        <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <a class=" waves-effect waves-light  btn #00e676 green accent-3" href="@Url.Action("Index")"> <i class="material-icons left">arrow_back</i>Voltar</a>
                            <input type="submit" value="Deletar" class="btn btn-default" />
                        </div>
                    }

                </div>


                <div class="card-panel">
                    <table class="Highlight striped">
                        <thead class="">
                            <tr>
                                <th class="width-30"></th>
                                <th>Descrição</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td>@ViewBag.Name</td>
                                <td>@Html.DisplayFor(model => model.PhysicalOrLegalName)</td>

                            </tr>
                            <tr>

                                <td>@ViewBag.LastName</td>
                                <td>@Html.DisplayFor(model => model.LastNameOrFantasyName)</td>

                            </tr>
                            <tr>

                                <td>@Html.DisplayNameFor(model => model.Email)</td>
                                <td>@Html.DisplayFor(model => model.Email)</td>

                            </tr>
                            <tr>

                                <td>@ViewBag.Photo</td>
                                <td>
                                    @if (!string.IsNullOrEmpty(Model.Photo))
                                    {
                                        <img src="@Url.Content(Model.Photo)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
                                    }
                                </td>

                            </tr>
                            @if (typeperson == "Fisica")
                            {
                                <tr>

                                    <td>@Html.DisplayNameFor(model => model.Genre)</td>
                                    <td>@Html.DisplayFor(model => model.Genre)</td>

                                </tr>
                            }
                            <tr>

                                <td>@Html.DisplayNameFor(model => model.TypePerson)</td>
                                <td>@Html.DisplayFor(model => model.TypePerson)</td>

                            </tr>
                            <tr>

                                <td>@ViewBag.cpf</td>
                                <td>@Html.DisplayFor(model => model.CpfOrCnpj)</td>

                            </tr>
                            <tr>

                                <td>@ViewBag.rg</td>
                                <td>@Html.DisplayFor(model => model.RGOrStateRegistration)</td>

                            </tr>
                            <tr>

                                <td>@ViewBag.Date</td>
                                <td>@Html.DisplayFor(model => model.DateBirthOrOpening)</td>

                            </tr>
                            @if (typeperson == "Juridica")
                            {
                                <tr>

                                    <td>@Html.DisplayNameFor(model => model.Responsible)</td>
                                    <td>@Html.DisplayFor(model => model.Responsible)</td>

                                </tr>
                            }
                            <tr>

                                <td>@Html.DisplayNameFor(model => model.AvailableCredit)</td>
                                <td>@Html.DisplayFor(model => model.AvailableCredit)</td>

                            </tr>
                            <tr>

                                <td>@Html.DisplayNameFor(model => model.StatusClient)</td>
                                <td>@Html.DisplayFor(model => model.StatusClient)</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


