@model SpeedSystem.Models.Client

@{
    ViewBag.Title = "Controle de Clientes";


    var typeperson = Model.LastNameOrFantasyName;
    typeperson = Convert.ToString(Model.TypePerson);

    if (typeperson == "Fisica")
    {
        ViewBag.Name = "Nome";
        ViewBag.LastName = "Sobre Nome";
        ViewBag.cpf = "CPF";
        ViewBag.rg = "RG";
        ViewBag.date = "Data de Nascimento";
        ViewBag.photo = "Foto de Perfil";
    }
    else
    {
        ViewBag.Name = "Nome da Empresa";
        ViewBag.LastName = "Nome Fantasia";
        ViewBag.cpf = "CNPJ";
        ViewBag.rg = "Inscrição Estadual";
        ViewBag.date = "Data de Abertura";
        ViewBag.photo = "Logo Marca";
    }
}





<div class="container">
    <div class="section">
        <div class="col s12">
            <div class="card-panel">
                <div class="collapsible-header">
                    <i class="material-icons">account_circle</i> Visualizar Cliente
                </div>
                <br />
                <div class="row">
                    <div class=" col s6">
                        <label>@Html.DisplayNameFor(model => model.TypePerson)</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TypePerson, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col s6">
                        <label>@ViewBag.Name</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PhysicalOrLegalName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class=" col s6">
                        <label>@ViewBag.LastName</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LastNameOrFantasyName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class=" col s2">
                        <label>@ViewBag.cpf</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CpfOrCnpj, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class=" col s1">
                        <label>@ViewBag.rg</label>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.RGOrStateRegistration)
                        </div>
                    </div>
                    @if (typeperson == "Fisica")
                    {
                        <div class=" col s2">
                            <label>Sexo</label>
                            <div class="col-md-10">
                                @Html.DisplayFor(model => model.Genre)
                            </div>
                        </div>
                    }
                    <div class=" col s2">
                        <label>@ViewBag.date</label>
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.DateBirthOrOpening)
                        </div>
                    </div>

                </div>

            </div>

            <div>
                <a class=" waves-effect waves-light  btn #00e676 green accent-3" href="@Url.Action("Index")"> <i class="material-icons left">arrow_back</i>Voltar</a>
                <a class=" waves-effect waves-light  btn #757575 grey darken-1" href="@Url.Action("Edit", new { id = Model.PersonId })"><i class="material-icons left">mode_edit</i>Editar</a>

            </div> <br />
            <table class="Highlight striped">
                <thead class="">
                    <tr>
                        <th class="width-30"></th>
                        <th>Descrição</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>@ViewBag.Name</td>
                        <td>@Html.DisplayFor(model => model.PhysicalOrLegalName)</td>

                    </tr>
                    <tr>

                        <td>@ViewBag.LastName</td>
                        <td>@Html.DisplayFor(model => model.LastNameOrFantasyName)</td>

                    </tr>
                    <tr>

                        <td>@Html.DisplayNameFor(model => model.Email)</td>
                        <td>@Html.DisplayFor(model => model.Email)</td>

                    </tr>
                    <tr>

                        <td>@ViewBag.Photo</td>
                        <td>
                            @if (!string.IsNullOrEmpty(Model.Photo))
                            {
                                <img src="@Url.Content(Model.Photo)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
                            }
                        </td>

                    </tr>
                    @if (typeperson == "Fisica")
                    {
                        <tr>

                            <td>@Html.DisplayNameFor(model => model.Genre)</td>
                            <td>@Html.DisplayFor(model => model.Genre)</td>

                        </tr>
                    }
                    <tr>

                        <td>@Html.DisplayNameFor(model => model.TypePerson)</td>
                        <td>@Html.DisplayFor(model => model.TypePerson)</td>

                    </tr>
                    <tr>

                        <td>@ViewBag.cpf</td>
                        <td>@Html.DisplayFor(model => model.CpfOrCnpj)</td>

                    </tr>
                    <tr>

                        <td>@ViewBag.rg</td>
                        <td>@Html.DisplayFor(model => model.RGOrStateRegistration)</td>

                    </tr>
                    <tr>

                        <td>@ViewBag.Date</td>
                        <td>@Html.DisplayFor(model => model.DateBirthOrOpening)</td>

                    </tr>
                    @if (typeperson == "Juridica")
                    {
                        <tr>

                            <td>@Html.DisplayNameFor(model => model.Responsible)</td>
                            <td>@Html.DisplayFor(model => model.Responsible)</td>

                        </tr>
                    }
                    <tr>

                        <td>@Html.DisplayNameFor(model => model.AvailableCredit)</td>
                        <td>@Html.DisplayFor(model => model.AvailableCredit)</td>

                    </tr>
                    <tr>

                        <td>@Html.DisplayNameFor(model => model.StatusClient)</td>
                        <td>@Html.DisplayFor(model => model.StatusClient)</td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>








